@model STEF.Models.Takmicenje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Takmicenje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TakmicenjeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
