@model STEF.Models.Tim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Takmicenje.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Takmicenje.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojBodova)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojBodova)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
