@model IEnumerable<STEF.Models.Tim>

@{
    ViewBag.Title = "Index";
}

<h2>Tim</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="border:2px solid black;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Takmicenje.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojBodova)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Takmicenje.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojBodova)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimID })
        </td>
    </tr>
}

</table>
